* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #980707;
}


.first-image {
    height: 100vh;
    background-image: url('ABOUT US.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
}


.second-image {
    height: 100vh;
    background-image: url('mission.png');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center top;
}


nav {
    background-color: #980707;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: rgb(87, 10, 10);
    color: #f0e68c;
}

nav li:first-child {
    margin-right: auto;
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(152, 7, 7, 0.45);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}


@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    nav ul {
        flex-wrap: wrap;
    }

    nav a {
        padding: 0 20px;
        font-size: 14px;
    }

    .first-image {
        background-size: cover;
    }

    .second-image {
        background-size: 100% auto;
    }
}


@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }

    .sidebar a {
        font-size: 14px;
        padding: 10px 15px;
    }

    nav a {
        padding: 0 10px;
        font-size: 12px;
    }

    .first-image, .second-image {
        background-size: cover;
    }
}
